body {
    background-color: rgb(128, 128, 188);
    margin: 0;
}

.social {
    width: 300px;
}

.header {
    background-color: rgba(207, 137, 38, 0.867);
    padding-bottom: 1rem;
    margin: ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: red;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: bold;
    font-family: fantasy;
}

.titletwo {
    color: blue;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: bold;
    font-family: fantasy;
}

form {
    display: flex;
    flex-direction: column;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    margin: 3px;
}

button {
    margin-top: 0.5rem;
    width: 5.5rem;
    padding: 0.3rem;
    align-self: center;
    background-color: #46116e;
    font-size: larger;
    border-radius: 10%;
}

.login {
    align-self: center;
}
