body {
    background-color: rgb(128, 128, 188);
    margin: 0;
}

.social {
    width: 300px;
}

.goodbye {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    font-size: larger;
    margin-left: 5px;
}

.goodbye:hover {
    color: rgb(34, 34, 232);
    font-size: x-large;
    font-style: inherit;
}

.logout {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    border-radius: 50%;
    width: 150px;
    cursor: pointer;
}

.profile:hover {
    width: 160px;
}

.close {
    width: 40px;
    cursor: pointer;
}

.close:hover {
    width: 45px;
}

.cool-styles {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: mintcream;
    background-color: rgba(207, 137, 38, 0.867);
    margin: 0;
}

.upload {
    background-color: grey;
    border: 3px solid black;
    margin: 2rem;
    padding: 2rem;
    border-radius: 30%;
    width: 30vw;
    height: 40vh;
    position: absolute;
    left: 30vw;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 2;
    overflow: hidden;
}

.upload-button {
    cursor: pointer;
}

.uploader-h2 {
    font-weight: bold;
}

h1 {
    margin-bottom: 0;
}

.header {
    background-color: rgba(207, 137, 38, 0.867);
    padding-bottom: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: red;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: bold;
    font-family: fantasy;
}

.titletwo {
    color: blue;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: bold;
    font-family: fantasy;
}

form {
    display: flex;
    flex-direction: column;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.retrieve {
    font-size: medium;
    width: auto;
}

h4 {
    margin: 3px;
}

button {
    margin-top: 0.5rem;
    width: 5.5rem;
    padding: 0.3rem;
    align-self: center;
    background-color: #46116e;
    font-size: larger;
    border-radius: 10%;
}

.login {
    align-self: center;
}

.profile-pic {
    width: 300px;
    cursor: pointer;
}

.profile-pic:hover {
    width: 310px;
}

.main-container {
    margin: 2rem;
    padding: 2rem;
    width: 80vw;
    height: 70vh;
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.profile-pic {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.profile-h1 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    font-family: fantasy;
    font-size: 3rem;
    font-weight: bold;
}

.textbox-profile {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    font-family: fantasy;
    font-weight: bold;
}

.bio-h3 {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    margin-right: 5px;
}

.bio-h3:hover {
    color: rgb(34, 34, 232);
    font-size: x-large;
}

.bio-h3-extra {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    margin-left: 5px;
    display: inline;
}

.bio-h3-extra:hover {
    color: rgb(34, 34, 232);
    font-size: x-large;
}

.findUsers {
    display: inline;
}

.bio-text {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: fantasy;
}

.save {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    justify-self: center;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-pic {
    width: 100px;
    cursor: pointer;
    margin-left: 10px;
}

.search-pic:hover {
    width: 110px;
}

.search-results {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-name {
    color: rgb(34, 34, 232);
    text-decoration: underline;
    cursor: pointer;
    font-family: fantasy;
    margin-left: 5px;
}

.search-name:hover {
    font-size: x-large;
}
